html {
  min-height: 100%;
}
body{
  min-height: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
  background: linear-gradient(90deg, #003f5b, #005876, #00738c, #008e9e, #00abaa, #00c7b0, #00e3af, #41ffaa);
  margin: 0px;
}
.profile-pic{
  text-align: center;
  size: auto;
  width: auto;
  height: auto;
  
}

.profilepic{
width: 200px;
border-radius: 200px;
}

img{
  width: 50px;
}

.name-row{
  color: azure;
  text-align: center;
  font-size: 30px;
  border-radius: 50px;
}
.social-links-row{
  /* background-color: rgb(62, 150, 150); */
  text-align: center;
  margin: 30px;
  padding: 30;
  border-radius: 50px;
  display: flex;
  justify-content: space-around;
}

.links{ 
  /* background-color: rgb(56, 182, 182); */
  margin: 30px;
  padding: 10px;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.link{
  background-color: rgb(67, 214, 214);
  text-align: center;
  margin: 30px;
  padding: 10px;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
